:root {
    // --bgColor: url("../images/bg1.jpg");
	// --bgColor: linear-gradient(#026, #001, #014);
	--primaryColor: rgba(150, 150, 255, 0.12);
	--darkColor: rgba(0, 0, 0, 0.2);
}

body {
	margin: 0;
	background: url("../images/bg2.jpg") rgb(80, 80, 80);
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	color: white;
	height: 100vh;
}

.fallback {
	margin: 2em;
	text-align: center;
}

.main_content {
	display: none
}

@supports (display: grid) {
	.fallback {display: none;}
	.main_content {display: initial}

	* {user-select: none; }
	label, svg, #btnRoll, input { cursor: pointer;}

	.main_content {
		height: 100%;
		display: grid;
		grid-template-columns: auto minmax(1rem, 1fr);
		grid-template-rows: auto 1fr;
		grid-gap: 0.2rem;
		position: relative;
		overflow: hidden;
		
		& > * {
			background: var(--primaryColor);
		}
	}


	/*================= Header =================*/
	header {
		grid-column: 2 / -1;

		display: grid;
		grid-template-columns: 3rem 1fr 3rem;
		grid-template-rows: auto minmax(3rem, 6rem) 2rem 2rem;
		padding: 0.5rem;
	}

	svg {
		width: 2rem;
	}

	#icoFrame {
		grid-row: 2;
		grid-column: 2;
		height: 100%;
		justify-self: center;

		object-fit: cover;

		background-image: url("../images/default_icon.png");
		background-size: 90% 90%;
		background-position: center;
		background-repeat: no-repeat;
	}

	#godName {
		grid-row: 3;
		grid-column: 1 / -1;
		font-weight: bold;
		align-self: end;
		justify-self: center;
		font-variant: small-caps;
		margin-bottom: 0.2rem;
		font-size: 1.2rem;
	}
	.line {
		grid-column: 1 / -1;
		grid-row: 4;
		justify-self: center;
		width: 90%;
		height: 1px;
		margin-right: 0.2rem;
		border-radius: 50%;
		background: rgba(119, 255, 255, 0.5);
		box-shadow: 0 0 0.2em rgba(119, 255, 255, 0.5);
		z-index: 2;
	}

	#godDescription {
		grid-row: 4;
		grid-column: 1 / -1;
		align-self: start;
		justify-self: center;
		margin-top: 0.2rem;
		font-variant: small-caps;
	}



	/*------------- Aside ------------*/
	aside {
		grid-row: 1 / -1;
		padding: 0.5rem 0 0.5rem 0.5rem;
		display: flex;
		flex-flow: column;

		h3 {
			margin: 0;
			letter-spacing: 0.05em;
			font-size: 1.1em;
		}
		label {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		span {
			padding-left: 0.4em;
			font-size: 0.9em;
		}
		h2 {
			text-align: center;
			margin: 0;
			height: 2rem;
			font-size: 1.3em;
		}
	} 

	.filter-container {
		background: var(--darkColor);
		height: 100%;
		overflow-y: scroll;
		box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.2) inset;
	}
	.filter-group {
		margin-bottom: 1em;
		padding: 0.3rem;
		border: rgba(255, 255, 255, 0.1) 1px solid;

		&:last-of-type {
			margin: 0;
		}

		label:first-child {
        	border-bottom: rgba(255, 255, 255, 0.1) 0.1em solid;
    	}
	}


	/*----------- Section -------------*/
	section {
		grid-row: 2 / -1;
		grid-column: 2 / -1;
		padding: 0.5rem;
		min-height: 0;

		display: grid;
		grid-template-rows: auto 1fr;
		position: relative;
	}
	.god_count {
		margin-bottom: 0.1em;
		display: grid;
		grid-template-rows: 1.2em 1.2em;

		div {
			justify-self: center;
		}

		label {
			justify-self: end;
			display: flex;
			align-items: center;
			font-size: 0.9em;
		}
	}

	#godList {
		grid-column: 1;
		grid-row: 2;
		background: rgba(0, 0, 0, 0.5);
		overflow-y: scroll;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
		align-items: start;
	}

	.godFigure {
		position: relative;
		margin: 0;

		&:last-child {
			margin-bottom: 5.5rem;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&:hover {
			// Little hack to make a "drop-shadow" inset render over an img.
			&::after {
				$size: 95%;
				$color: rgba(119, 255, 255, 0.822);
				background-image: 
					linear-gradient(to right, 	transparent $size, $color),
					linear-gradient(to left, 	transparent $size, $color),
					linear-gradient(to top, 	transparent $size, $color),
					linear-gradient(to bottom, 	transparent $size, $color);
			}
		}
	}
	.godImg {
		display: block;
		width: 100%;
		z-index: -1;
	}

	.deselected {
		filter: 
			grayscale(100%) 
			brightness(50%);
	}
	.hidden {display: none;}

	#btnRoll {
		grid-column: 1;
		grid-row: 2;
		justify-self: center;
		align-self: end;
		position: relative;
		bottom: 1.6rem;
		z-index: 1;		
		
		min-width: 7rem;
		width: 9rem;
		height: 1.78em;
		background-image: url("../images/button_normal.png");
		background-size: 100% 100%;
		-webkit-tap-highlight-color: transparent;

		display: flex;
		align-items: center;
		justify-content: center;
		font-variant: small-caps;
		font-size: 1.4rem;

		&:active {
			background-image: url("../images/button_pressed.png");
		}
	}

	/*--------------- closed aside --------------*/
	.aside_closed {
		grid-column-gap: 0;
		aside {
			display: none;
		}
		#godList {
			grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
		}
	}

	/*------------------------ Controllers -------------------------- */
	input[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		outline: none;
		font-size: 1em;
		width: 0.9em;
		height: 0.9em;
		border: #77FFFF 1px solid;
		border-radius: 20%;

		&:checked {
			background: radial-gradient( white, #AAFFFF 60%, transparent);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 83% 83%;
		}
		&:indeterminate {
			background: radial-gradient( white, #AAFFFF 60%, transparent);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 80% 20%;
		}
	}
	.scroll {
		&::-webkit-scrollbar {
			width: 2px;
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(170, 252, 255, 0.932);
			box-shadow: 0 0 5px rgb(75, 123, 255);
			border-radius: 50%;
		}
	}
	


	@media (max-width: 340px) {
		
		.aside_expanded {
			header {
				grid-template-rows: min-content 3rem 2rem 2rem;
			}

			#icoFrame {
				justify-self: right;
				grid-row: 1 / span 2;
				grid-column: span 2 / -1;
			}

			#godName, #godDescription, .line {
				justify-self: start;
			}
			#godName {font-size: 1rem;}
			#godDescription {font-size: 0.9rem;}

			.god_count {
				font-size: 0.8rem;
			}
		}
	}
}